@model Olympics2021.Models.ViewModels.ParticipantsModel
@{
    ViewData["Title"] = "Edit Athlete Data";
}

<h2>Edit athlete data</h2>

@using (Html.BeginForm("Edit", "Athletes", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Athletes[0].Name)
        @Html.TextBoxFor(m => m.Athletes[0].Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Athletes[0].Surname)
        @Html.TextBoxFor(m => m.Athletes[0].Surname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Athletes[0].CountryId, "Select country")
        @Html.DropDownListFor(m => m.Athletes[0].CountryId, new SelectList(Model.Countries, "Id", "Name"), "", new { @class = "form-control" })
    </div>
    <div class="checkbox mb-3">
        @for (var i = 0; i < Model.Sports.Count; i++)
        {
            var sport = Model.Sports[i];
            <label class="mr-4">
                @Html.CheckBoxFor(m => m.Athletes[0].Sports[sport.Id])
                @sport.Name
            </label>
        }
    </div>
    @Html.HiddenFor(m => m.Athletes[0].Id)
    <button type="submit" class="btn btn-primary">Save changes</button>
    @Html.ActionLink("Cancel", "Index", "Athletes", null, new { @class = "btn btn-secondary" })
} 