@model SportModel
@{
    ViewData["Title"] = "Add a Sport";
}

<h2>Add a sport</h2>

@using (Html.BeginForm("Create", "Sports", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(s => s.Name, "Name of sport")
        @Html.TextBoxFor(s => s.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.TeamActivity, "Team activity")
        @Html.CheckBoxFor(s => s.TeamActivity, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(s => s.Id)
    <button type="submit" class="btn btn-primary">Add</button>
    @Html.ActionLink("Cancel", "Index", "Sports", null, new { @class = "btn btn-secondary" })
} 